.add {
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 50px;
  color: #03c2fc;
}

.addSize {
  font-size: 40px;
}

.checkout {
  position: fixed;
  bottom: 75px;
  right: 0px;
  font-size: 50px;
}

.checkoutSize {
  font-size: 40px;
  color: #03c2fc;
}

.fix {
  height: 100%;
}
